<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Harper and Lyre</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
{{#unless hideLayout}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Harper and Lyre</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.reddit.com/r/harperandlyre/" target="_blank">Visit our Reddit Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.com/invite/qVNnvmTKeV" target="_blank">Join our Discord</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{/unless}}

<body>
    {{{body}}}
  {{#unless hideLayout}}
  <footer>
    Copyright Stormside Studios LLC 2024-2026&copy;
  </footer>
  {{/unless}}
</body>
</html>
