<head>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="section-wrapper">
        <div class="header-bg">
            <div class="d-flex justify-content-center align-items-center min-vh-100 position-relative">
                <div class="container text-center">
                    <img src="/img/HarperNLyre.png" alt="Harper and Lyre Logo" class="img-fluid mb-3" style="max-width: 60%; height: auto;">
                    <div class="row justify-content-center mt-3 g-3">
                        <div class="col-12 col-md-3 d-flex justify-content-center">
                            <div class="rounded d-flex flex-column align-items-center justify-content-center p-3 position-relative" 
                                style="width: 300px; height: 200px;">
                                <img src="/img/MrMrsBootGIF.gif" alt="Box 1" class="img-fluid mb-3" 
                                    style="width: 200px; height: 200px; object-fit: cover;">
                                <a href="https://store.steampowered.com/app/3579710/Harper_and_Lyre/" class="btn btn-success btn-lg w-100">
                                    <h4 class="mb-0 fs-4">Wishlist on Steam</h4>
                                </a>
                                
                            </div>
                        </div>
                        <div class="col-12 col-md-3 d-flex justify-content-center">
                            <div class="rounded d-flex flex-column align-items-center justify-content-center p-3" style="width: 300px; height: 200px;">
                                <img src="/img/WinkleSpeak.gif" alt="Box 2" class="img-fluid mb-3" style="width: 200px; height: 200px; object-fit: cover;">
                                <a href="https://www.reddit.com/r/harperandlyre/" class="btn btn-success btn-lg w-100">
                                    <h4 class="mb-0 fs-4">Visit our Subreddit</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 d-flex justify-content-center">
                            <div class="rounded d-flex flex-column align-items-center justify-content-center p-3" style="width: 300px; height: 220px;">
                                <img src="/img/Boldi_Speak_GIF.gif" alt="Box 3" class="img-fluid mb-3" style="width: 180px; height: 180px; object-fit: cover;">
                                <a href="https://discord.com/invite/qVNnvmTKeV" class="btn btn-success btn-lg w-100">
                                    <h4 class="mb-0 fs-4">Join our Discord</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="b-h-bg mt-4" style="position: relative;">
            <div class="p-spacer-bg"></div>
            
            <div class="grass-1">
                <img src="/img/evergreen_grass_tuft1.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
            </div>

            <div class="grass-2">
                <img src="/img/evergreen_grass_tuft2.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
            </div>

            <div class="grass-3">
                <img src="/img/evergreen_grass_tuft4.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
            </div>
            
            <div class="juniper-1">
                <img src="/img/JuniperBerryBushGIF.gif" alt="Juniper Berry Bush Gif to style the page" style="width: 100px; height: 100px;">
            </div>

            <div class="juniper-2">
                <img src="/img/JuniperBerryBushGIF.gif" alt="Juniper Berry Bush Gif to style the page" style="width: 100px; height: 100px;">
            </div>

            <div class="jenny-1">
                <img src="/img/FragrantJennyGIF.gif" alt="Jenny Berry Bush Gif to style the page" style="width: 100px; height: 100px;">
            </div>

            <div class="container min-vh-50 d-flex flex-column justify-content-start" style="transform: translateY(-30%);">
                <div class="row w-100 align-items-start flex-md-row flex-column-reverse text-center text-md-start">
                    
                    <div class="col-md-6 d-flex flex-column justify-content-start">
                        <h1 class="fst-italic fs-1 text-black fw-bold">This is Harper.</h1>
                        <p class="fs-4 text-black">A red panda with a big heart, quick paws, and just enough stubbornness to get into (and out of) trouble. With his best bud Lyre by his side, he’s ready to jump, spin, and scamper his way through an adventure full of twists, turns, and a little bit of mischief. Think you’ve got what it takes to help them?</p>
                    </div>
                    
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="/img/harper-idle.gif" alt="Animated GIF" class="img-fluid" style="width: 400px; height: auto;">
                    </div>
                </div>
            </div>


        </div>


        <div class="b-h-bg">
            <div class="p-spacer-bg-l">

            <div class="jenny-2">
                <img src="/img/FragrantJennyGIF.gif" alt="Jenny Berry Bush Gif to style the page" style="width: 100px; height: 100px;">
            </div>

            <div class="grass-4">
                <img src="/img/evergreen_grass_tuft2.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
            </div>
            
                <div class="text-center mb-5 mt-4">
                    <h1 class="fs-1 text-black fw-bold">What's in Harper's Toolkit?</h1>
                </div>
                <div class="container">
                    <div class="row w-100 align-items-center justify-content-center mt-4">
                        <div class="ratio ratio-16x9 video-container shadow-lg p-2 bg-white rounded" style="max-width: 100%; max-height: 600px;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/YVnu2MlnSQI?si=Qa6otSDPNHspRSEW" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        <br><br><br><br><br><br><br>
        </div>
        <div class="b-h-bg" style="position: relative; height: auto;">
            <div class="container mb-5">
                <div class="grass-1">
                    <img src="/img/evergreen_grass_tuft2.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
                </div>
                <div class="grass-3">
                    <img src="/img/evergreen_grass_tuft1.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
                </div>

                <div class="text-center mb-5 mt-4">
                    <h1 class="fs-1 text-black fw-bold">Harper's Journal</h1>
                </div>
                <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                        <img src="/img/BafweeblesBrewery.webp" alt="Image 1" class="img-fluid rounded shadow">
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <img src="/img/cherry_tree_harper_and_lyre.webp" alt="Image 2" class="img-fluid rounded shadow">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 d-flex justify-content-center">
                        <img src="/img/log_on_a_hill.webp" alt="Image 3" class="img-fluid rounded shadow">
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <img src="/img/mountain_exit.webp" alt="Image 4" class="img-fluid rounded shadow">
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>

        <div class="b-h-bg-ppl" style="position: relative; height: auto;">
            <div class="p-spacer-bg-ppl"></div>

            <div class="container mb-5">
                <div class="grass-1">
                    <img src="/img/evergreen_grass_tuft2.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
                </div>
                <div class="grass-3">
                    <img src="/img/evergreen_grass_tuft1.png" alt="grass png to style the page" style="width: 100px; height: 100px;">
                </div>

                <div class="text-center mb-5">
                    <h1 class="fs-1 text-black fw-bold shaky-text"><span>K</span><span>R</span><span>e</span><span>A</span><span>K</span><span>l</span><span>i</span><span>'</span><span>s</span> <span>D</span><span>E</span><span>m</span><span>i</span><span>S</span><span></span><span>e</span></h1>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <img src="/img/DeadWinkle.gif" alt="Dead Winkle Gif" class="img-fluid rounded shadow">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
